<div id="middle-heart">

<h1>All Your Matches!</h1>

<% @matches.each do |match| %>
    <li><%= link_to match.id, match_chats_path(match, match.chats), method: :get, class: "btn btn-primary"%></li>
<% end %>

</div>