<div id="middle-heart">
<h1>All Your Matches!</h1>
<% @matches.each do |match| %>
    <% if current_user.id == match.matcher.id %>
        <li><%= link_to "#{match.matchee.name}", match_chats_path(match, match.chats, matchid: match.id), method: :get, class: "btn btn-primary"%></li>
    <% else %>
        <li><%= link_to "#{match.matcher.name}", match_chats_path(match, match.chats, matchid: match.id), method: :get, class: "btn btn-primary"%></li>
    <% end %>
    <br>
<% end %>
</div>