<div id="middle-heart">

<h1>All Your Matches!</h1>

<ul>
<% @matches.each do |match| %>
    <li><%= link_to match.id, match_chats_path(match, match.chats, matchid: match.id), method: :get, class: "btn btn-primary"%></li>
<% end %>
</ul>
</div>