/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.nav,
justify-content-center {
    background: rgb(184, 232, 248);
}

.nav-item {
    padding: 20px
}

.container-dogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.card {
    margin: 5px;
}

#user-names,
#titles {
    font-family: 'Merriweather', serif;
    font-size: 40px;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

.list-container {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    font-size: 20px;
    justify-self: center;
}

#dog-profile {
    text-align: center;
}

.container-dogs-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
    padding: 10px;
    /* justify-content: space-between; */
}


/* fix this, i dont think I need this container, 
for the dog index (change to container-dogs) */